<div id="users">
  <% @users.each do |user| %>
  <div class="user"><%= user.user_name %> in Room <%= user.room_id %></div>
  <% end %>
</div>

<script type="text/javascript">
  faye_url = '<%= FAYE_URL %>'

  $(function() {    

    $.faye.addExtension({
      outgoing: function(message, callback) {
        if (message.channel === '/meta/subscribe') {
          message.data = message.data || getUser()
          console.log(message);
        }
        callback(message);
      }
    });

    $.faye.subscribe('/online_users %>', function (data) {
      console.log(data);
      messages = $("#users").find(".message");
      if (messages.length >= 15 ) {
        messages.first().remove();
      }

      if (data.chat_message.message_type == "Message") {
        $("#messages").append('<div class="message">' + data.chat_message.user_name + ": " + data.chat_message.message_body + '</div>');
      }
      else {
        $("#messages").append('<div class="message">' + data.chat_message.message_body + '</div>');
        //messages.parent().append('<div class="message">' + data.chat_message.message_body + '</div>');
      }
    });

    $("#new_message").live("ajax:complete", function(event,xhr,status){
      $('#new_message')[0].reset();
    });
    
  });
</script>