<script type="text/javascript">
  faye_url = '<%= FAYE_URL %>'
  user     = '<%= current_user.user_json.html_safe %>'
  room_id  = '<%= @room.id %>'

  function getUser() {
    user_hash = JSON.parse(user)
    user_hash.room_id = room_id
    return user_hash
  }

  $(function() {    

    $.faye.addExtension({
      outgoing: function(message, callback) {
        if (message.channel === '/meta/subscribe') {
          message.data = message.data || getUser()
          console.log(message);
        }
        callback(message);
      }
    });

    $.faye.subscribe('/messages/<%= @room.id %>', function (data) {
      console.log(data);
      messages = $("#messages").find(".message");
      if (messages.length >= 15 ) {
        messages.first().remove();
      }

      if (data.chat_message.message_type == "Message") {
        $("#messages").append('<div class="message">' + data.chat_message.user_name + ": " + data.chat_message.message_body + '</div>');
      }
      else {
        $("#messages").append('<div class="message">' + data.chat_message.message_body + '</div>');
        //messages.parent().append('<div class="message">' + data.chat_message.message_body + '</div>');
      }
    });

    $("#new_message").live("ajax:complete", function(event,xhr,status){
      $('#new_message')[0].reset();
    });
  });
</script>