<h2>
	Support
</h2>

<p>
	This application is being developed by students from hungryacademy.com as a class project.
</p>

<ul>
	<li>
		Jonan Scheffler: jonan.scheffler@hungrymachine.com
	</li>
	<li>
		Chris Anderson: chris.anderson@hungrymachine.com
	</li>
	<li>
		Andy Glass: andy.glass@hungrymachine.com
	</li>
	<li>
		Ed Weng: ed.weng@hungrymachine.com
	</li>
</ul>

<p>
	Please feel free to contact us with any questions you have about ThinChat.
</p>		
