<%= content_tag "div", id: "user", data: {user: current_user.user_hash} do %>
<% end %>

<div class="container">
<div class="hero-unit">
  <div class="row">
    <div class="span12">
  <h1><span>thin</span>Chat</h1>
  <br>
  <h2>We made a lightweight yet powerful support chat client</h2>
  <h2>So you can help your customers <span>faster</span><h2>
  </div>
  </div>
  <div class="row" id="start_chat"><br>
 <%= link_to "Start Chatting", rooms_path, :method => :post, :class => "btn btn-warning btn-huge"   %>
</div>
</div>

<div class="home_content">
  <div class="row">
    <div class="span6">
      <div class="info">
        <h1>Clean interface</h1>
        <p>Fast, crisp and feature rich. Keep your agents serving your customers.</p>
      </div>
    </div>

    <div class="span6">
      <div class="info">
        <h1>Rock-solid backend</h1>
        <p>Impenetrable security, meticulous logging, search capabilities and file storage.  We've got you covered.</p>
        

      </div>
    </div>
  </div>
</div>

<div class="home_content">
<div class="row">
  <div class="span6"><div class="info">
    <h1>Real Time Analytics</h1>
    <p>Thinchat provides analytics enabling you to monitor and optimize your workforce in real time.</p>
  </div></div>

  <div class="span6"><div class="info">
    <h1>Embeddable widget</h1>
      <p>Integrate Thinfile on your website with one line of code:</p>
      <pre><code class="codesample"> &lt;script type="text/javascript" src="http://thinchat.com/widget></script> </code></pre>
  </div></div>
</div>
</div>
</br>
</br>
</br>
</br>
</div>

  <%= render 'layouts/footer' %>
</div>
