<ul class="meta" id="online_agents">
  <li class="header">Online Agents</li>
</ul>

<ul class="meta">
  <li class="header">Room Actions</li>
  <a class="close_room" data-room-name="<%= @room.name %>">Close the room</a>
</ul>
      
<%= render "messages/file", :locals =>  { :user => @user} %>
<%= render "rooms/log_form" %>
