<script type="text/javascript">
  $(function() {
    var faye = new Faye.Client('<%= FAYE_URL %>' + '/faye');

    faye.addExtension({
      outgoing: function(message, callback) {
        if (message.channel === '/meta/subscribe') {
          message.ext = message.ext || {};
          message.ext.user_name = "<%= @user.name %>"
          console.log(message);
        }
        callback(message);
      }
    });

    faye.subscribe('/messages/<%= @room.id %>', function (data) {
      console.log(data);
      messages = $("#messages").find(".message");
      if (messages.length >= 15 ) {
        messages.first().remove();
      }

      if (data.type == "message") {
        $("#messages").append('<div class="message">' + data.user_name + ": " + data.object.body + '</div>');
      }
      else {
        $("#messages").append('<div class="message">' + data.object.body + '</div>');
        //messages.parent().append('<div class="message">' + data.object.body + '</div>');
      }
    });

    $("#new_message").live("ajax:complete", function(event,xhr,status){
      $('#new_message')[0].reset();
    });

  });
</script>
