<h1>Room list</h1>
<%= link_to "Create a room", rooms_path, :method => :post %>
<ul>
<% @rooms.each do |room| %>
  <li><%= link_to room.name, room_path(room) %></li>
<% end %>
</ul>

<% if @user.class == 'Guest' %>
  <%= You are a guest: @user.name %>
<% end %>