<div class="page-header">
  <h1>Lobby</h1>
</div>

<ul id="rooms" class="thumbnails pending"></ul>
<ul id="rooms" class="thumbnails active"></ul>
<div id="users"></div>

<script type="text/html" id="user_template">
  <p class="{{metadata.client_id}}">{{user_name}}</p>
</script>

<script type="text/html" id="room_user_template">
  <li data-id="{{name}}" class="span3 room_li {{status}}" id="room-{{name}}">
    <a href={{room_url}} id="room_link">

      <div class="thumbnail" id="{{status}}" >
        <h2>{{status}}</h2>
        <br>
        <p><strong>Opened: </strong>{{pretty_time}}</p>
        <div id="buddy_list">
          <p><strong>Current users:</strong></p>
          {{#users}}
            <p class="{{metadata.client_id}}">{{user_name}}</p>
          {{/users}}
        </div>
      </div>
    </a>
  </li>
</script>

<%= coffee_script_tag do %>
  jQuery ->
    location = $(".info").data("location")   
    user_hash = $.namespace.getUser(location)
    online_users = new FayeHandler("<%= FAYE_URL %>", user_hash, '/online/*')
    online_users.joinRoom(RoomsIndexUserPresenter.handleUser)
    poller = new RoomsIndexRoomPoller("<%= api_v1_rooms_url %>?users=true")
<% end %>