<% content_for :faye do %>
  <%= render "faye", :locals => { :room => @room } %>
<% end %>

<div id="room">
  <h1><%= @room.name %></h1>
  <div id="messages">
    <%= render @messages %>
  </div>

  <%= render "form", :locals => { :room => @room } %>
</div>
