<% content_for :faye do %>
  <%= render "shared/faye", :locals => { :room => @room } %>
<% end %>

<div id="room">
  <h1><%= @room.name %></h1>
  <div id="messages" style="overflow: scroll; max-height: 400px"></div>

  <%= render "form", :locals => { :room => @room } %>
  <br />
  <br />
  <%= render "user_name", :locals =>  { :user => @user, :session => @session } %>
</div>

<script type="text/html" id="message_template">
  <div class="message">
    {{user_name}}: {{message_body}}
  </div>
</script>

<script type="text/html" id="event_template">
  <div class="message">
    {{message_body}}
  </div>
</script>