// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room_meta {
  position: fixed;
  margin-top: 10px;
}

#messages {
  margin-bottom: 150px;
}

.message {
  font-size: 1.2em;
  margin: 5px 0px 10px 0px;
  padding: 10px 25px 10px 25px;
  line-height: 24px;
  background: #fff;

}
.message .author {
  font-weight: 600;
}

#chat_input {
  position: fixed;
  padding-top: 40px;
  bottom: 0px;
  background: #f7f7f7;
}

#chat_input textarea {
  width: 80%;
  height: 50px;
}






/*div#room {
  width: 960px;
  margin: 50px auto 0;
  color: #333;
  border: 1px solid #ccc;
  padding: 30px;
}

div#room div.message {
  color: #777;
  padding: 5px 3px;
  border-bottom: 1px solid #ddd;
}

div#room div#messages {
  margin-bottom: 20px;
  overflow: scroll; 
  max-height: 400px;
}

div#room input#message_body {
  width: 900px;
}
*/