<div class="row">
<footer class="span12">
  <ul>
  <li>&copy;thinChat 2012</li>
  <li><%= link_to "Support", "/support" %></li>
  <li><%= link_to "Terms of Service", "/tos" %></li>
  </ul>
</footer class="span12">
</div>
