<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
<ul class="dropdown-menu">
  <li><a href="/auth/users/sign_out" data-method="delete" rel="nofollow">Sign out</a></li>
</ul>